<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ideas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ideas"
        android:supportsRtl="true"
        android:theme="@style/Theme.RamuTrivia"
        tools:targetApi="31">
        <activity
            android:name=".TriviaAPI"
            android:exported="false" />
        <activity
            android:name=".signactivity"
            android:exported="false" />
        <activity
            android:name=".Sign"
            android:exported="false" />
        <activity
            android:name=".logic"
            android:exported="false" />
        <activity
            android:name=".Trivia"
            android:exported="false" />
        <activity
            android:name=".queans"
            android:exported="false" />
        <activity
            android:name=".Scoring"
            android:exported="false" />
        <activity
            android:name=".Basicversion"
            android:exported="false" />
        <activity
            android:name=".intro"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>